#project{
  min-height: calc(100vh -4rem);
  overflow: hidden;
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.projectimgs {
  width: 100%;
  max-width: 60rem; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectBar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}

.projectBarImg {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}

.projectText > p {
  font-size: 0.9rem;
  font-weight: 200;
}


.projectPageTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
.projectDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 55rem;
  padding: 0 2rem;
}
